<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <style>
  .content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
  }
  .para {
    margin-left:200px;
    margin-right:200px;
  }
  </style>
  <body>
    {%- include header.html -%}
    <div class="content">
      <h1 class="content">Cardanus Ada Stake Pool</h1>
      <img src="/images/cardanus.png"
      <div class="wrapper">
        <h2 class="content">BUILD A PASSIVE INCOME WITH CARDANO STAKING</h2>
        <p class="para">
Are you looking to invest in a growing cryptocurrency that offers an interest mechanism? 
Staking your Cardano, whose currency is named ADA, yields you annual interest of up to 5.5%. 
Cardano is a fast growing blockchain and cryptocurrency project that has already began to 
change the world! You can be a part of this success and a part of the future of Cardano, and 
be rewarded for doing so. The value of ADA has gone up 1350% in 2021 alone and experts agree 
that it will likely obtain significant value in a few short years. Much like its first 
(Bitcoin) and second generation (Ethereum) predecessors, the value of Cardano’s third generation 
technology is greatly anticipated by many in the industry.
        </p>
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
